<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <form action="{% url 'draw:admin_reg' %}" method="post">
        {% csrf_token %}
        <span>用户名</span><input type="text" name="username"><br>
        <span>密码</span><input type="password" name="psw"><br>
        <span>姓名</span><input type="text" name="nickname"><br>
        <span>邮箱</span><input type="email" name="email"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>