<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改更新日志</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href='https://tyy.ilotus.top/static/image/fireball.png' type="image/x-icon">
    <link rel="stylesheet" href="/static/admin/css/bootstrap.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/admin-lte/3.2.0/css/adminlte.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">

</head>
<body>
<div class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="modal-dialog" style="margin-top: 10%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">修改更新日志</h4>
                    </div>
                    <form id="loginForm" onsubmit="return false;" method="post" action="#">
                        {% csrf_token %}
                        <div class="modal-body" id = "model-body">
                            <p id="error_msg" style="color: red"></p>
                            {% if log %}
                            <div class="form-group">
                                <textarea type="text" class="form-control" autocomplete="off" id="have_log" style="height: 500px">{{ log.log_text }}</textarea>
                            </div>
                            {% else %}
                            <div class="form-group">
                                <textarea type="text" class="form-control" autocomplete="off" id="not_log"></textarea>
                            </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary form-control" onclick="UpdateLog()" value="修改">
                            </div>
                            <div class="form-group">
                                <a href="{% url 'draw:index' %}" class="btn btn-default form-control">返回主页</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/admin-lte/3.2.0/js/adminlte.min.js"></script>
<script src="/static/admin/js/myajax.js"></script>
</body>
</html>